body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

header {
    background: #020617;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.logo {
    color: #38bdf8;
}

section {
    padding: 60px;
    text-align: center;
}

/* HOME */

.home-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
    flex-wrap: wrap;
}

.home-text h1 {
    font-size: 40px;
    color: #38bdf8;
}

.home-img img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: 5px solid #38bdf8;
    object-fit: cover;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 15px;
    color: #38bdf8;
    text-decoration: none;
}

/* ABOUT */
.about {
    padding: 60px;
    background: linear-gradient(135deg, #0f172a, #1e293b);
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

/* Image */
.about-img img {
    width: 280px;
    border-radius: 10px;
}

/* Text */
.about-text {
    max-width: 500px;
    text-align: left;
}

/* SKILLS */

.skills-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.skill {
    background: #020617;
    padding: 10px 20px;
    border-radius: 5px;
}

/* EDUCATION */

.edu-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.edu-card {
    background: #020617;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

/* PROJECTS */

.project-container {
    display: flex;
    justify-content: center;
}

.project-card {
    background: #020617;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
}

.education-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.education-card {
    background: #0b0b0b;
    padding: 30px;
    border-radius: 12px;
    transition: 0.3s;
    border: 1px solid transparent;
}

.education-card:hover {
    border-color: #7ed6c5;
    transform: translateY(-5px);
}

.education-card .year {
    color: #aaa;
    font-size: 14px;
}

.education-card h3 {
    color: #7ed6c5;
    margin: 10px 0;
}

.education-card p {
    color: #ddd;
}

/* CONTACT */

.contact-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.contact-card {
    background: #020617;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

/* BUTTON */

.btn {
    display: inline-block;
    margin-top: 15px;
    background: #38bdf8;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background: #020617;
    padding: 20px;
}